/* CSS designed by  Robert Erickson 

to understand the comments like 900px / 960px
   read http://alistapart.com/article/responsive-web-design/

*/
/*****************     main layout section             ************************/

figure.img-right {
    border: thin solid black;
    float: right;
    background-color: black;
}

.small {
    width: 500px;
}

figcaption {
    color: white;
    font-style: oblique;
    text-align: center;
    font-size: 11pt;
}

body{
    margin: 20px auto;
    width: 90%;
}

#page{
    margin: 0 auto 53px;
    width: 93.75%; /* 900px / 960px  */
    border: 1px solid black;
    border-radius: 15px;
}

#main{
    float: left;
    width: 716px; /* 566px / 900px */
}

#other{
    float: right;
    width: 500px; /* 331px / 900px */
    margin: 20px;

}


ol.photos{
    margin-left: 1em;
}
ol.photos li{
    list-style-type: none;
    display: inline;
}

table {
    text-align: center;
    alignment-adjust: central;
    margin-left: 6em;
    border-style: solid;
}


/*****************     header section             *****************************/
header h1 {
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
    text-align: center;
    font-family: "arial black";
    padding-top: 0em;
    background-image: url("Panorama 2.JPG");
    border: solid black;
}


/*****************     navigation section         *****************************/
nav ol {
    padding-left: 5.33333333%;  /* 48px / 900px */
}

nav ol li{
    list-style-type: none;
    display: inline-block;
    width: 22%;
    text-align: center;
    font-size: 14pt;
}

nav {
    background-color: lightgreen;
    border: solid black;
}

/*****************     article section             ****************************/

article{
    width: 716px;
    overflow: visible;
}

article h1, article p, article table{
    padding: 20px 20px;
}

article h2{
    display: block;
    font-size: 14pt;
    font-style: italic;
    text-align: center;
    padding-left: 25px;
}

/*****************     aside section              *****************************/
aside {
    float: right;
    width: 500px;
}



/*****************     footer section              ****************************/
footer{
    clear: both;  /* 48px / 900px */
    display: inline-block;
    width: 93.75%;
}
footer ol li{
    list-style-type: none;
    display: inline-block;
    width: 29%;
    text-align: center;
    font-size: 12pt;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 4:31:43 PM
    Author     : Lynden
*/

